DATABASE_URL="postgresql://user:password@localhost:5432/db_name"

JWT_ACCESS_SECRET="your-access-secret-at-least-64-chars"
JWT_REFRESH_SECRET="your-refresh-secret-at-least-64-chars"
JWT_ACCESS_EXPIRES="15m"
JWT_REFRESH_EXPIRES="7d"

FRONTEND_URL="http://localhost:3000"
PORT=3001
NODE_ENV="development"
