#DATABASE_URL="postgresql://user:password@localhost:5432/db_name"

JWT_ACCESS_SECRET="your-access-secret-at-least-64-chars"
JWT_REFRESH_SECRET="your-refresh-secret-at-least-64-chars"
JWT_ACCESS_EXPIRES="15m"
JWT_REFRESH_EXPIRES="7d"

FRONTEND_URL="http://localhost:3000"
PORT=3001
NODE_ENV="development"

# Chuỗi kết nối đến database PostgreSQL mày vừa tạo trên pgAdmin 4
DATABASE_URL="postgresql://postgres:123456@localhost:5432/ib_rebate_db?schema=public"

# Mã secret key cho JWT (để mặc định hoặc gõ bừa ký tự ngẫu nhiên đều được)
JWT_SECRET="super_secret_key_for_ib_rebate_system_2026"